* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* top header code */
.header {
	font-style: Roboto;
	background: url(wallpaper.jpg);
	padding: 10px;
	text-align: center;
	
}

/* Top navigatin bar code*/
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Columns for the word content */
.column {
	float: left;
	width: 95%;
	padding: 15px;
	font-size: 20
}

.row {
	width: 85%;
	float: right;
	height: 100%;
}

/*Sidebar code*/
.sidebar {  
	margin: 0;
    top: 0;
	left: 0;
	width: 12%;
	height: 200%;
	background-color: #e3e3e3 ;
	padding: 16px 14px;
	display: block;
	text-align: center;
	text-decoration: none;
	overflow: auto;
} 


.sidebar a:hover {
	background-color: #ddd;
	color: black;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Slide in for images */

.container {
  overflow: hidden;
  width: 800px;
  height: 230px;
  margin: 0 auto;
  cursor: pointer;
  margin-top:150px;
}

.imgs {
  display: block;
  padding: 0;
  width: 200%;
}

.imgs li {
  padding-right: 10px;
  display: inline-block;
 *display:inline;
}

.imgs img {
  width: 160px;
  height: 120px;
}

.title {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #ddd;
}




